*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:inherit;
}
ul,ol{
  list-style: none;
}
button,input{
  font-family: inherit;
}
:focus{
  outline:none; // 任何元素focus时消除外边框
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}